<!-- <div fxLayout="column" fxFlex="100%">
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput class="inputField" (keyup)="applyFilter($event)" placeholder="Ex. ABC00" #input>
      </mat-form-field>
    
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> 

            <ng-container matColumnDef="flightNumber">
                <th mat-header-cell *matHeaderCellDef>Flight No.</th>
                <td mat-cell *matCellDef="let element">{{element.flightNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="airline">
                <th mat-header-cell *matHeaderCellDef>Flight Name</th>
                <td mat-cell *matCellDef="let element">{{element.airline}}</td>
            </ng-container>

            <ng-container matColumnDef="toPlace">
                <th mat-header-cell *matHeaderCellDef>To</th>
                <td mat-cell *matCellDef="let element">{{element.toPlace}}</td>
            </ng-container>

            <ng-container matColumnDef="fromPlace">
                <th mat-header-cell *matHeaderCellDef>From</th>
                <td mat-cell *matCellDef="let element">{{element.fromPlace}}</td>
            </ng-container>

            <ng-container matColumnDef="totalBusinessClassSeat">
                <th mat-header-cell *matHeaderCellDef>Business Class Seat</th>
                <td mat-cell *matCellDef="let element">{{element.totalBusinessClassSeat}}</td>
            </ng-container>

            <ng-container matColumnDef="totalNonBusinessClassSeat">
                <th mat-header-cell *matHeaderCellDef>Non-Business Class Seat</th>
                <td mat-cell *matCellDef="let element">{{element.totalNonBusinessClassSeat}}</td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let element">{{element.price}}</td>
            </ng-container>

            <ng-container matColumnDef="startDateTime">
                <th mat-header-cell *matHeaderCellDef>Start DateTime</th>
                <td mat-cell *matCellDef="let element">{{element.startDateTime | date:'MMM d, yy, h:mm a'}}</td>
            </ng-container>

            <ng-container matColumnDef="endDateTime">
                <th mat-header-cell *matHeaderCellDef>End DateTime</th>
                <td mat-cell *matCellDef="let element">{{element.endDateTime | date:'MMM d, yy, h:mm a'}}</td>
            </ng-container>
            
            <ng-container matColumnDef="instrumentUsed">
                <th mat-header-cell *matHeaderCellDef>Instrument Used</th>
                <td mat-cell *matCellDef="let element">{{element.instrumentUsed}}</td>
            </ng-container>

            <ng-container matColumnDef="airlineStatus">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">{{element.airlineStatus}}</td>
            </ng-container>

            <ng-container matColumnDef="meal">
                <th mat-header-cell *matHeaderCellDef>Meals</th>
                <td mat-cell *matCellDef="let element">{{element.meal}}</td>
            </ng-container>

            <ng-container matColumnDef="noOfRows">
                <th mat-header-cell *matHeaderCellDef>Total Rows</th>
                <td mat-cell *matCellDef="let element">{{element.noOfRows}}</td>
            </ng-container>

            <ng-container matColumnDef="scheduledDays">
                <th mat-header-cell *matHeaderCellDef>Schedule Days</th>
                <td mat-cell *matCellDef="let element">{{element.scheduledDays}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary" (click)="getFlight(element.flightNumber)"
                        name="bookFlight">Book</button>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <button mat-icon-button color="primary" (click)="nextStep(element)" name="updateFlight">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteFlight(element.flightNumber)" name="deleteFlight">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                        
                </td>
                
            </ng-container>
            
            <ng-container matColumnDef="loader">
                <mat-footer-cell *matFooterCellDef>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-footer-cell>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
        </table>
        <mat-paginator class="pagScroll" [pageSizeOptions]="[5, 10, 20]"
         showFirstLastButtons 
         aria-label="Select page of periodic elements">
        </mat-paginator>    
</div> -->